/* set up CSS custom variables */
:root {
    --font-family: 'Playfair Display', serif;
    --font-size-base: 16px;
    --line-height-base: 1.6;
    --color-background: #f5f2eb;
    --color-text: #3d2c26;
    --color-accent: #7e5c4c;
    --color-button: #a4876b;
  }
  
/* reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, 
ul, ol, dl, figure, form, fieldset, 
legend, blockquote, textarea, pre {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-background);
}
  
h1, h2, h3, h4, h5, h6 {
    color: var(--color-accent);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
  
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
  
/* nav */
.navbar {
  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0; 
}

.navbar a {
  color: var(--color-accent);
  text-decoration: none;
  margin: 0 0.5em;
  font-weight: bold;
}

/* main content container */
  .container.main {
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
/* buttons */
button {
    background-color: var(--color-button);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #856646;
}
  
/* links */
  a {
    color: var(--color-accent);
    text-decoration: none;
}
  
  a:hover {
    text-decoration: underline;
}
  
/* headings within sections */
  section h1, section h2, section h3, section h4, section h5, section h6 {
    color: var(--color-accent);
}
  
/* paragraph  */
p {
    margin-bottom: 1em;
    line-height: 1.4;
}

/* footer */

#footers {
  background-color: #333;
  color: #fff;
  padding: 2em 0;
  text-align: center; /* Center text within the footer */
}

/* Style each column within the footer */
.page-footer {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* Add some spacing between columns */
}

.page-footer ul {
  list-style: none;
  padding: 0;
}

.page-footer h3 {
  color: #f85353; /* Adjust the color as needed */
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}



  
  
  