/* reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, 
ul, ol, dl, figure, form, fieldset, 
legend, blockquote, textarea, pre {
    margin: 0;
    padding: 0;
}

:root {
    --vibrant-pink: #F2137B;
    --magenta: #F20FA3;
    --soft-purple: #F2B3E1;
    --deep-pink: #F216CE;
    --deep-blue: #102973;
    --dark-grayish-blue: #151426;
    --dark-charcoal: #0B0A0D;
    --dark-blue: #0E1A40;
    --turquoise: #05F2AF;
    --bold-purple: #BF05F2;
    --almost-black: #0D0D0D;
    --sky-blue: #0583F2;

    --primary-color: var(--deep-blue);
    --secondary-color: var(--soft-purple); 
    --accent-color: var(--magenta); 
    --text-color: #fff; 
    --background-color: var(--dark-charcoal); 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* nav */
.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

/* main content container */
.container.main {
    padding: 2em;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* buttons */
button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F2137B; 
}

/* links */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* headings within sections */
section h1, section h2, section h3, section h4, section h5, section h6 {
    color: var(--accent-color);
}

/* paragraph */
p {
    margin-bottom: 1em;
    line-height: 1.4;
}

