/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

:root {
    --color-background: #1a1a2e;     
    --color-foreground: #fff;      
    --color-dark: #3a3a3a;         
    --color-light: #dedede;       
    --color-md-light: #f5f5f5;    
    --color-md-dark: #999;         
    --color-primary: #f5a623;     
    --color-info: #34ace0;        
    --color-success: #8cc63f;      
    --color-danger: #e44d5e;       
    --color-callout: #fdb9b9;      
    --color-lightest: #fafafa;     
}

/* reset some default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7;
    color: #f1f1f1;
    background-color: #000000;
    font-family: 'IM Fell French Canon', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff9800;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 { 
    font-size: 2.5em; 
}

h2 { 
    font-size: 2em; 
}

h3 { 
    font-size: 1.8em; 
}

h4 { 
    font-size: 1.5em; 
}

h5 { 
    font-size: 1.2em; 
}

h6 { 
    font-size: 1em; 
}

/* nav */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px; 
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0;
}

.navbar ul li {
    margin-right: 17px;
}

.navbar a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-weight: bold; 
    margin: 0 0.5em;
}

.navbar a:hover {
    color: #ff9800;
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    margin: 0;
}

/* navbar title */
.navbar .title {
    color: #ff9800; 
    margin: 0; 
}

.title {
    color: #ff9800;
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2.5em;
    margin: 0 auto;
    margin-left: 3px;
    margin-right: 13px;
}

/* main content container */
.container.main {
    padding: 2em;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* buttons */
button {
    background-color: #ff9800;
    color: #000000;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e65100;
}

/* links */
a {
    color: #ff9800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* headings in the sections */

#headings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2em;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.grid-item {
    text-align: center; 
}

.grid-item h1,
.grid-item h2,
.grid-item h3,
.grid-item h4,
.grid-item h5,
.grid-item h6 {
    font-family: 'IM Fell French Canon', sans-serif;
}

.grid-item h1:hover,
.grid-item h2:hover,
.grid-item h3:hover,
.grid-item h4:hover,
.grid-item h5:hover,
.grid-item h6:hover {
    color: lightgreen;
}

#headings code {
    font-family: 'IM Fell French Canon', monospace; 
    font-size: 18px;
    display: block;
    line-height: 1.5;
}

.container.main .heading-title {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

/* paragraph */
#type p {
    margin-bottom: 1em; 
    line-height: 1.4; 
    font-size: 20px;
    font-family: 'IM Fell French Canon', sans-serif;
}

#type h1 {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    font-size: 3.5em;
}

#type strong {
    font-weight: bold;
    color: lightpink;
}

#type em {
    font-style: italic; 
    color: lightgreen;
}

#type abbr {
    text-decoration: underline; 
    cursor: help; 
    color: lightgreen;
}

#type abbr:hover {
    border-bottom: 1px dotted #000; 
}

#paragraph-type {
    background-color: #f2f2f2; 
    font-family: 'IM Fell French Canon', monospace; 
    padding: 10px; 
    border-radius: 15px;
    color: #000;
}

#paragraph-type code {
    font-family: 'IM Fell French Canon', monospace; 
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

/* footer */
#footers {
    background-color: #000000;
    color: #f1f1f1;
    padding: 2em 0;
    text-align: center;
}

#footers h2 {
    font-size: 3em;
    font-family: 'Mountains of Christmas', sans-serif;
}

/* style each column within the footer */
.page-footer-1 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.page-footer-1 ul {
    list-style: none;
    padding: 0;
}

.page-footer-1 h3 {
    color: #ff9800;
}

.page-footer-1 a {
    color: #f1f1f1;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.page-footer-1 a:hover {
    text-decoration: underline;
    color: #ff9800;
}

.page-footer-2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-image: url('https://i.pinimg.com/736x/91/70/74/917074e126db168d3d0671dda165c092.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
}

.page-footer-2 ul {
    list-style: none;
    padding: 0;
}

.page-footer-2 h3 {
    color: #f1f1f1;
}

.page-footer-2 a {
    color: #ff9800;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.page-footer-2 a:hover {
    text-decoration: underline;
    color: yellow;
}

/* navbar */
#navbar {
    background-color: #f2f2f2; 
    color: #000; 
    padding: 20px; 
    text-align: center;
}

/* colors */
#colors {
    text-align: center;
    margin-top: 20px;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 2em;
    background-color: var(--color-background);
}
  
.color-grid div {
    padding: 20px;
    text-align: center;
}

.color-grid span {
    display: block;
    margin-top: 10px;
    color: #fff;
}

#colors div {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#colors div:nth-child(odd) {
    background-color: #333;
}

#colors div:nth-child(even) {
    background-color: #444;
}

#colors div span {
    color: #000;
}

#colors h1 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2.3em;
    text-align: center;
}

/* forms */
#forms {
    margin-top: 20px;
}

#forms h2 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2em;
    text-align: center;
}

#forms span {
    font-family: 'IM Fell French Canon', monospace;
    font-size: 1.1em;
}

#forms h3 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2em;
    text-align: center;
}

form {
    display: grid;
    gap: 20px;
}

label {
    display: grid;
    gap: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* switch */
.switch-2 {
    position: relative;
    width: 60px;
    height: 34px;
}

.switch-2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-2 div {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background 0.3s;
}

.switch-2 div:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-2 input:checked + div {
    background-color: #2196F3;
}

.switch-2 input:checked + div:before {
    transform: translateX(26px);
}

/* checkbox */
.control-checkbox {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
}

.control-checkbox input {
    position: absolute;
    opacity: 0;
}

.control-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid darkorchid;
    background-color: #fff;
}

.control-checkbox input:checked + span {
    background-color: green;
}

#forms pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    color: #333; 
}

#forms code {
    font-family: 'IM Fell French Canon', monospace; 
    font-size: 17px;
    display: block;
    line-height: 1.5;
    margin-right: 7.3em;
}

/* buttons and links cards */

#cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
    margin-top: 2em;
    text-align: center;
}

#cards-container h2 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2em;
}

#cards-container p {
    font-family: 'IM Fell French Canon', monospace;
    font-size: 1.2em;
}

#cards-container code {
    font-family: 'IM Fell French Canon', monospace; 
    font-size: 17px;
    display: block;
    line-height: 1.5;
    margin-right: 7.3em;
}

#buttons button {
    background-color: darkorchid;
    color: #ffffff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#buttons button:hover {
    background-color: #0056b3;
}

#buttons button[style="--background-color: #f85353;"] {
    background-color: #f85353;
    font-weight: bold;
}

#buttons button[style="--background-color: #6bc253;"] {
    background-color: #6bc253;
}

/* navbar section */
.card {
    background-color: #f2f2f2; 
    color: #000; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin between cards */
}

#navbar h1, #title h1, #code-block h1 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2.7em;
}

#navbar h2, #title h2 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 2.3em;
}

#navbar p, #title p {
    font-family: 'IM Fell French Canon', monospace;
    font-size: 1.2em;
}

#navbar .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#navbar .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

#navbar .navbar a {
    color: #000; 
    text-decoration: none;
    font-weight: bold;
}

#navbar .navbar a:hover {
    text-decoration: underline;
}

#code-block pre {
    font-family: 'IM Fell French Canon', monospace;
    font-size: 15px;
    display: block;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 10px;
    overflow: auto; 
    margin-left: auto;
    margin-right: auto;
}

.card .code-block {
    font-family: 'IM Fell French Canon', monospace; 
    font-size: 17px;
    display: block;
    line-height: 1.5;
    margin: 0 auto;
}